INNGEST_EVENT_KEY=local-event-key
INNGEST_SIGNING_KEY=local-signing-key
INNGEST_POSTGRES_URI=postgresql://inngest:inngest@inngest-postgres:5432/inngest?sslmode=disable
INNGEST_REDIS_URI=redis://inngest-redis:6379
INNGEST_POLL_INTERVAL=60
INNGEST_QUEUE_WORKERS=100
INNGEST_RETRY_INTERVAL=1
INNGEST_TICK=150
INNGEST_LOG_LEVEL=info
INNGEST_JSON=true
INNGEST_VERBOSE=false

INNGEST_POSTGRES_IMAGE=postgres:16-alpine
INNGEST_POSTGRES_DB=inngest
INNGEST_POSTGRES_USER=inngest
INNGEST_POSTGRES_PASSWORD=inngest
